<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Encrypt</title>
</head>
<body>
<h1>Encrypt a Message</h1>
<form action="/encrypt" method="post">
    <label>Message:</label>
    <input type="text" name="message" required><br><br>
    <label>Password:</label>
    <input type="password" name="password" required><br><br>
    <button type="submit">Encrypt</button>
</form>
<p th:if="${result}" th:text="${result}"></p>
<a href="/">Back to Home</a>
</body>
</html>
